__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
build/
dist/
processed/


.DS_Store
.ipynb_checkpoints/
.virtual_documents/
docs/_build/
release/
tmp/
*.whl
*.tar.gz
*-source.zip
.env
.env.*
!.env.example
